{% extends "main.html" %}


{% block land_page %}

<div class="about_page">
    <div>
        <h1>Welcome to Gamefo - Your Ultimate Gaming Companion</h1>

        <p>-> Embark on a journey through the vast world of gaming with Gamefo - your go-to source for comprehensive information on over 800,000 games.</p>

        <p>-> Derived from the fusion of "Game" and "Information," Gamefo lives up to its name by offering an extensive database tailored to meet all your gaming needs.</p>

        <p>-> Explore the Filtering Section, where you wield the power to tailor your gaming experience. Filter games effortlessly by genres, tags, developers, and more. Uncover hidden gems and discover your next gaming obsession with just a few clicks.</p>

        <p>-> Feeling adventurous? Dive into the thrill of randomness with our Random Game feature. Let the gaming fates decide your next play, promising a surprise with every click.</p>

        <p>-> To elevate your Random Game experience, personalize your preferences by visiting your account. Set your gaming preferences by selecting at least three checkboxes, and watch as the magic unfolds with each random game suggestion.</p>

        <p>-> <strong style="color: rgb(0, 174, 255);">Gamefo is more than a website; it's a passion project and the culmination of knowledge and effort poured into the final project for CS50x.</strong></p>

        <p>-> <strong style="color: rgb(0, 174, 255);">Explore, discover, and game on! Finished with love on 03/07/2024.</strong></p>
    </div>
</div>


{% endblock %}